<!DOCTYPE html>
<html lang="en">

<head>
    <title>PEOPLE HEALTH PHARMACY INC.</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/one-page-wonder.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../css/jquery-3.2.0.js"></script>

    <script type="text/javascript" src="../js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap-datepicker3.css"/>

   
</head>

<script>
    $(document).ready(function(){

    })
</script>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PHP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#about">About Group 7</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->

    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>In store Items</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <hr class="featurette-divider">
    <form class="" action="" method="POST" enctype="application/x-www-form-urlencoded">
      <div class="form-group">
        <label for="Type">Type:</label>

        <select class="form-control" id="Type" name="name">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>


      </div>

      <div class="form-group">
        <label for="Quantity">Quantity</label>
        <select class="form-control" id="Quantity" name="quantity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input class="form-control" id="date" name="date" >
      </div>

      <div class="form-group">
        <label for="month">Month</label>
        <input class="form-control" id="month" name="month" >
      </div>

      <div class="form-group">
        <label for="year">Year</label>
        <input class="form-control" id="year" name="year" >
      </div>

      <div class="form-group">
        <label for="hour">Hours</label>
        <input class="form-control" id="hour" name="hour" >
      </div>

      <div class="form-group">
        <label for="min">Minute</label>
        <input class="form-control" id="min" name="min" >
      </div>

      <div class="form-group">
        <label for="weekinYear">Week No.</label>
        <input class="form-control" id="weekinYear" name="weekinYear" >
      </div>

      <script type="text/javascript">
        document.getElementById('date').value = (new Date()).getDate().toString();
        document.getElementById('month').value = ((new Date()).getMonth() + 1).toString();
        document.getElementById('year').value = (new Date()).getFullYear().toString();
        document.getElementById('hour').value = (new Date()).getHours().toString();
        document.getElementById('min').value = (new Date()).getMinutes().toString();

        Date.prototype.getWeek = function() {
        var onejan = new Date(this.getFullYear(), 0, 1);
        return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
      };
        document.getElementById('weekinYear').value = (new Date()).getWeek().toString();


      </script>

      <div class="submitbutton">
          <button class="btn btn-default">Submit</button>
      </div>
    </form>


    <script src="../js/jquery.js"></script>


    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
